.one_main__container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 50rem;
   width: 60%;
   margin-left: 40rem;
   margin-top: 7rem;
}

.main_click_spot {
   height: 3rem;
   width: 3rem;
   border-radius: 100%;
   border-color: red;
   border-width: 1px;
   border-style: solid;
   position: absolute;
   margin: -40rem 15rem;
}

.main__two_container {
   display: flex;
   flex-direction: row;
}

.right_para {
   margin: 3rem 0 2rem 4rem;
   font-size: 1.7rem;
}