.container__Subjects {
    margin-left: 40rem;
    margin-top: 14rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    justify-content: space-between;
}

.Subject__heading {
    font-size: 1rem;
    /* background-color: red !important; */
    font-weight: 500;
    padding: 1rem 0rem;
}

.heading1 {
    background-color: #1B65A7 !important;
    color: white;
    padding: 4rem;
    display: block;
    font-weight: 500;
    font-family: 'Raleway', sans-serif !important;
    border-radius: 1.6rem;
    transition: all .15s;
    text-transform: uppercase;
    letter-spacing: .4rem;
    line-height: 3rem;
}

.heading1:hover {
    background-color: #E9F3FC !important;
    color: #000;
    cursor: pointer;
    box-shadow: 0px 0px 70px 9px rgba(27, 101, 167, 0.25) !important;

}